.grass {
	background-color: green;
}

.stone {
	background-color: gray;
}

img {
	position: absolute;
	height: 64px;
	width: 64px;
}

#zero {
	margin-top: 0;
	margin-left: 0;
	border: 0;
}

#one {
	margin-top: 0;
	margin-left: 64px;
}

#two {
	margin-top: 0;
	margin-left: 128px;
}

#three {
	margin-top: 0;
	margin-left: 192px;
}